button{
    background-color: #f6f3f3;
    color: black;
    height: 100%; 
    padding: 10px;
    border-radius: 3px;
    border-color: rgb(216, 167, 33);
    font-family: Arial, Helvetica, sans-serif;
}